@charset 'UTF-8';

* { /*reset total*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*Altura total do navegador*/
    width: 100vw; /*Largura total*/
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed; /*sem rolagem*/
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    height: 620px;
    width: 308px;
    /*background-color: blue; para posicionar a img*/
    background: url('../imagens/frame-iphone.png') no-repeat;
    /*colocar background antes da url e achar o tamanho ideal*/
}

iframe#tela { /*code p/ dentro do celular*/
    position: relative;
    top: 79px;
    left: 22px;
    width: 265px;
    height: 466px;
}