@charset 'UTF-8';

* { /*reset total*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*Altura total do navegador*/
    width: 100vw; /*Largura total*/
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed; /*sem rolagem*/
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    height: 620px;
    width: 308px;
    /*background-color: blue; para posicionar a img*/
    background: url('../imagens/frame-iphone.png') no-repeat;
    /*colocar background antes da url e achar o tamanho ideal*/
}

iframe#tela { /*code p/ dentro do celular*/
    position: relative;
    top: 79px;
    left: 22px;
    width: 265px;
    height: 466px;
}

section#redes-sociais {
    text-align: right; 
}

section#redes-sociais img {
    width: 50px; /*tamano das logos*/
    margin: 10px;
    margin-right: 24px;
    border-radius: 50%; /*arredondamento das logos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);/*dir baixo */
    box-sizing: border-box; /*as logos não mechem*/
}

section#redes-sociais img:hover { /*passando o mouse*/
    border: 2px solid rgba(255, 255, 255, 0.603); /*coloca borda branca nas logos mas elas mechem*/
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);/*quando levanta a sombra fica*/
    transition: transform .4s, /*border .8s*/;/*delay na logo*/
}